streamlit
langchain
pysqlite3-binary
sentence_transformers
chromadb
ollama
langchain_openai
langchain_community
langchainhub
langchain.agents
langchain.tools.retriever
langchain_community.document_loaders
langchain_text_splitters
