streamlit
langchain
pysqlite3-binary
sentence_transformers
chromadb
ollama
langchain-openai
langchain-community
langchainhub
langchain.agents
langchain.tools.retriever
langchain_community.document_loaders
langchain_text_splitters
